body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo {
    color: #fff;
    font-size: 27px;
    line-height: 60px;
    padding-left: 386px;
    float: left;
    -webkit-animation: comming 3s ease;
    -o-animation: comming 3s ease;
    animation: comming 3s ease;
}

main {
    width: 100%;
    height: 100%;

}

.menu {
    float: left;
    padding-left: 432px;

}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: tophift 1s ease forwards;
    -o-animation: tophift 1s ease forwards;
    animation: tophift 1s ease forwards;
    opacity: 0;
}

.mein {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 88% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;

}

.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    text-align: center;
    opacity: 0;
    -webkit-animation: osnova 1s ease forwards;
    -o-animation: osnova 1s ease forwards;
    animation: osnova 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.title__container h1 {
    font-size: 60px;
    font-family: bold;
    font-weight: 600;
    color: #2c384a;
}

.title__container h4 {
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;

}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 15px;
    margin: 45px 14px 0px 14px;

}

.abou_tme {
    width: 100%;
    height: 750px;
    background: url(../img/ikonrf%20ckac.jpg.png) 860px 650px no-repeat, url(../img/foto%20boy.png) 50% 224px no-repeat, url(../img/Cherta.jpg) 50% 160px no-repeat;
}

.opis {
    float: left;
    margin: 106px 0px 0px 555px;
    text-align: center;

}

.opis h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: bold;
    font-weight: 600;
    color: #2c384a;
}

.opis p {
    margin-top: 80px;
    color: #3f495a;
}

p.tex {
    margin-top: 320px;

}

.opis input {
    width: 210px;
    height: 35px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 15px;
    padding: 0px 15px;
    margin: 45px 14px 0px 14px;
}

.What_I_cando {
    width: 100%;
    height: 650px;
    background: url(../img/cartinca%20fon.jpg) center no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    position: relative;
    align-items: center;
}

.rasdel {
    text-align: center;
    background: url(../img/gramofon.png)1430px 285px no-repeat, url(../img/raceta.png) 1110px 285px no-repeat, url(../img/znak.png) 790px 285px no-repeat, url(../img/nout.png) 498px 285px no-repeat, url(../img/Cherta.jpg) 50% 160px no-repeat;

    -webkit-animation: umeniy 5s ease forwards;
    -o-animation: umeniy 5s ease forwards;
    animation: umeniy 5s ease forwards;
}

.rasdel h2 {
    padding: 100px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: bold;
    font-weight: 600;
    color: #2c384a;
}

.rasdel h4 {
    float: left;
    line-height: 60px;
    color: #cf7600;
    margin-right: 200px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 100px;
}

.web {
    padding-left: 475px;
}

.rasdel p {
    float: left;
    width: 220px;
    margin-right: 80px;
    color: #3f495a;
}

.texx {
    margin-left: 415px;
}

.ceoo {
    margin-left: 10px;
}

.marc {
    margin-left: 20px;
}

.case {
    width: 100%;
    height: 100%;
    background: url(../img/Cherta.jpg) 50% 65px no-repeat, url(../img/ceys.jpg) 50% 120px no-repeat;
}

.opisan1 {
    text-align: center;
}

.opisan1 h2 {
    margin-top: 103px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: bold;
    font-weight: 600;
    color: #2c384a;
}

.taytel_jpis {
    text-align: left;
}

.opisan1 p {
    margin-top: 50px;
    color: #2c384a;
}

.client {
    margin-top: 590px;
    font-size: 25px;
    margin-left: 380px;
    text-transform: uppercase;
    font-family: bold;
    font-weight: 600;
    color: #384354;
}

.taytel_jpis h6 {
    padding-top: 10px;
    margin-left: 380px;
    color: #384354;
}

.taytel_jpis h4 {

    font-size: 25px;
    margin-left: 380px;
    text-transform: uppercase;
    font-family: bold;
    font-weight: 600;
    color: #384354;

}

.taytel_jpis input {
    width: 210px;
    height: 40px;
    text-align: center;
    background: #48938d;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    padding: 0px 15px;
    margin: 20px 14px 0px 380px;
}

.taytel_jpis h5 {
    margin-left: 560px;
    font-size: 25px;
    font-family: bold;
    font-weight: 600;
    color: #384354;
}

.taytel_jpis span {
    display: inline-block;
    margin-left: 560px;
    color: #384354;
}

.calcyl h2 {
    margin-top: 190px;
    font-size: 45px;
    font-family: bold;
    font-weight: 600;
    color: #1c2534;
    text-align: center;
}

.calcyl h4 {
    margin-top: 30px;
    margin-left: 497px;
    font-size: 20px;
    font-family: bold;
    font-weight: 600;
    color: #1c2534;
}

.calcyl select {
    width: 890px;
    height: 45px;
    text-align: center;
    background: #eeeeee;
    border-radius: 5px;
    color: #ffffff;
    font-size: 10px;
    padding: 0px 15px;
    margin: 10px 0px 0px 490px;
}

.calculation {
    width: 100%;
    height: 600px;
    background: url(../img/loniy%20Itoga.jpg) 49% 400px no-repeat;
}

.sroc {
    margin-top: 60px;
}

.calcyl h5 {
    padding-top: 10px;
    font-size: 20px;
    font-family: bold;
    font-weight: 600;
    color: #1c2534;
    margin-left: 497px;
}

.statistics {
    width: 100%;
    height: 500px;
    background: url(../img/statistik.jpg) center no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    position: relative;
    align-items: center;

}

.stats {
    background: url(../img/stats/kybok.png) 1345px 255px no-repeat, url(../img/stats/galocka.png) 1085px 255px no-repeat, url(../img/stats/scob.png) 780px 255px no-repeat, url(../img/stats/smayl.jpg.png) 494px 255px no-repeat, url(../img/Cherta.jpg) 50% 155px no-repeat;

    -webkit-animation: stats 3s ease forwards;
    -o-animation: stats 3s ease forwards;
    animation: stats 3s ease forwards;
}


.stats h2 {
    padding-top: 95px;
    font-size: 30px;
    font-family: bold;
    font-weight: 600;
    color: #323e4f;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;
}

.stats p {
    float: left;
    margin-top: 200px;
    padding-left: 210px;
    font-size: 45px;
    font-family: bold;
    font-weight: 900;
    color: #323e4f;
}

.Sto {
    margin-left: 275px;
}

.stats h4 {
    float: left;
    margin-top: 20px;
    padding-left: 110px;
    font-size: 15px;
    font-family: bold;
    color: #323e4f;
    text-transform: uppercase;
    font-weight: 600;
}

.scactliv {
    margin-left: 320px;
}

.cacv {
    margin-left: 15px;
}

.proek {
    margin-left: 20px;
}

.reviews {
    width: 100%;
    height: 592px;
    background: url(../img/stats/fotca.png) 50% 230px no-repeat, url(../img/Cherta.jpg) 50% 158px no-repeat;

}

.otziv {
    text-align: center;
}

.otziv h2 {
    padding-top: 100px;
    font-size: 30px;
    font-family: bold;
    color: #323e4f;
    text-transform: uppercase;
    font-weight: 600;

}

.otziv span {
    display: block;
    margin-top: 260px;
}

.otziv p {
    margin-top: 20px;
}

.contacts {
    width: 100%;
    height: 950px;
    background: url(../img/stats/truba.png) 1190px 280px no-repeat, url(../img/stats/convert.png) 940px 280px no-repeat, url(../img/stats/reo.png) 670px 280px no-repeat, url(../img/Cherta.jpg) 50% 160px no-repeat, url(../img/stats/Fon%20cot.jpg) 50% no-repeat;
}

.contact {
    color: #ffffff;
    text-align: center;
}

.contact h2 {
    padding-top: 105px;
    font-size: 30px;
}

.contact span {
    display: block;
    margin-top: 50px;
}

.contact h5 {
    font-size: 15px;
    float: left;
    padding-left: 110px;
    margin-top: 130px;
}

.tex-can {
    margin-left: 500px;

}

.contact h4 {
    width: 450px;
    margin-top: 180px;
    margin-left: 735px;
    font-size: 25px;
    font-weight: 600;
}

form {
    text-align: center;
}

.dannee input {
    height: 40px;
    width: 360px;
    font-size: 13px;
    padding: 0px 15px;
    margin: 45px 14px 0px 14px;
    background: #c6cedb;
}

.sobcheni textarea {
    width: 755px;
    margin-top: 30px;
    background: #c6cedb;

}

.Otpravit input {
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    padding: 0px 15px;
    margin: 25px 14px 0px 14px;
    font-weight: 600;

}

.menu li a {
    transition: all 0.2s;
    color: #fff;
    transform: scale (1);
    display: inline-block;

}

.menu li a:visited {
    color: #fff;
}

.menu li a:hover {
    color: #ff9600;
}

.menu li a:active {
    transform: scale(1.1);
}


@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes tophift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }

}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes osnova {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 404px;
    }
}

.title__container input {
    transition: all 0.2s;
    transform: scale (1);
}

.title__container input:hover {
    background: #ff9600;
    color: #fff;
}

.title__container input:active {
    transform: scale(1.2);
}

.opis input {
    transition: all 0.2s;
    transform: scale (1);
}

.opis input:hover {
    background: #ff9600;
    color: #fff;
}

.opis input:active {
    transform: scale(1.2);
}

@keyframes umeniy {
    from {
        opacity: 0;
        margin-left: -500px;
    }

    to {
        opacity: 1;
        margin-left: 0px;
    }
}

.taytel_jpis input {
    transition: all 0.2s;
    transform: scale (1);
}

.taytel_jpis input:hover {
    background: #ff9600;
    color: #fff;
}

.taytel_jpis input:active {
    transform: scale(1.2);
}

@keyframes stats {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.Otpravit input {
    transition: all 0.2s;
    transform: scale (1);
}

.Otpravit input:hover {
    background: #ff9600;
    color: #fff;
}

.Otpravit input:active {
    transform: scale(1.2);
}